
.card{
    width: 400px;
    border: none;
    border-radius: 10px;
    background-color: #403d3d;
}

.stats{
    background: #403d3d!important;
}

.points{
    font-size:10px;
}

.number{
    font-weight:500;
}

