{% extends 'base.html' %}
{% block body %}

<div class="container">
    <center>
        <h1 class="text-info ctautor">Este site foi feito pelo Erick</h1>
        <a href="https://erick-pavani.github.io/" target="_blank" class="btn btn-outline-info mt-3">
            Quero entrar em contato com o Erick!
        </a>
        <h3 class="text-warning cthashtag">Quero conhecer os cursos impressionadores e me
            tornar um aluno
            impressionador!
        </h3>
        <a href="https://www.hashtagtreinamentos.com/" target="_blank" class="btn btn-outline-warning mt-3">
            Conhecer os cursos impressionadores!
        </a>
    </center>
</div>

{% endblock %}