{% extends 'base.html' %}
{% block body %}

<div class="container" style="text-align: center;">
    {% if not current_user.is_authenticated %}
    <h1 style="color: #8059d4;">Bem vindo à Comunidade Impressionadora!</h1>
    <h3 class="text-info" style="margin-top: 15%;">Você gostaria de fazer parte desse incrível grupo de pessoas e
        aproveitar tudo que
        essa comunidade
        tem a oferecer?</h3>
    <div class="button mt-2">
        <center>
            <a href="{{ url_for('login') }}"><button class="btn btn-sm btn-outline-info mt-5" style="width: 20%">Faça
                    Login</button></a>
        </center>
    </div>
    <h6 class="text-warning" style="margin-top: 12%;">Ainda não possui uma conta? Não tem problema, crie uma! É grátis!
    </h6>
    <div class="button mt-2">
        <center>
            <a href="{{ url_for('login') }}"><button class="btn btn-sm btn-outline-warning mt-3"
                    style="width: 12%">Criar
                    Conta</button></a>
        </center>
    </div>
    {% else %}
    <h1 style="color: #8059d4;">Olá, {{ current_user.username }} !</h1>
    {% endif %}
</div>

{% endblock %}