<div class="position-fixed top-0 start-0 end-0" style="z-index: 10000;">
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid container">
            <a class="navbar-brand" href="{{ url_for('home') }}" style="color: #8059d4;">Comunidade Impressionadora</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active text-info" aria-current="page" href="{{ url_for('home') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-info" href="{{ url_for('usuarios') }}">Usuários</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-info" href="{{ url_for('contato') }}">Contato</a>
                    </li>
                </ul>
                <ul class="d-flex navbar-nav">
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active text-success" aria-current="page"
                            href="{{ url_for('criar_post') }}">Criar
                            Post</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-primary" aria-current="page" href="{{ url_for('perfil') }}">Meu
                            Perfil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-danger" aria-current="page" href="{{ url_for('sair') }}">Sair</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link active text-info" aria-current="page"
                            href="{{ url_for('login') }}">Login/Criar
                            Conta</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</div>